div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: colorchanging;
    animation-duration:0.75ms ;
    /* animation-timing-function: ease-in; */
    animation-delay: 0s;
    animation-iteration-count:infinite ;

    /* transition-property:all; 
    transition-duration:2s;            transition-timing-function: ease-in;                                                                  */
    /* transition: all 2s ease-in 0s;
       transform:rotate(360deg); */
       /* transform: scale(2); */
      
}
@keyframes colorchanging{
    from{background-color:aqua;}
    to{background-color: #fa1717;}
}
div:hover{
    /* background-color: black;
    color: white;
    font-size: 20px;
    transform: scaley(2); */
    /* transform: rotate(180deg); */
    /* transform: translateX(300px); */
    /* transform: skew(50deg); */
}
div:active{
    /* background-color:blueviolet; */
}